extends layout

block content
  .row.banner
  .row
    .col-12.col-lg-9
      .row
        .col-12
          h1 GOA
            &nbsp;
            span.badge.badge-pill.badge-default= 12000
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.far.fa-star
            i.far.fa-star

      .card.card-primary
        .card-block
          h2.card-title Availability
          p.card-text Organizers: Backpackers & City Freaks
          p.card-text Every weekend
          p.card-text Friday : 8:00pm
          p.card-text Tuesday : 6:00am

      .card.card-primary
        .card-block
          h2.card-title Facilities
          span.badge.badge-pill.badge-default
            i.fa.fa-check
            | &nbsp;Stay
          | &nbsp;
          span.badge.badge-pill.badge-default
            i.fa.fa-check
            | &nbsp;Food
          | &nbsp;
          span.badge.badge-pill.badge-default
            i.fa.fa-check
            | &nbsp;Transport


  .row
    .col-12
      .card.card-primary.review-card
        .card-block
          a.btn.btn-primary.float-right(href='/location/review/new') Write a Review
          h2.card-title Customer reviews
          .row.review
            .col-12.no-gutters.review-header
              span.rating
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
                i.far.fa-star
              span.reviewAuthor John 
              small.reviewTimestamp 16 February 2022
            .col-12
              p What a great experience.
          .row.review
            .col-12.no-gutters.review-header
              span.rating
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.far.fa-star
                i.far.fa-star
              span.reviewAuthor Tony 
              small.reviewTimestamp 28 January 2023
            .col-12
              p Amazing adventure.

    .col-12.col-lg-3
      p.lead
        | Goa has amazing beaches and cool adventure activities. It is the best weekend getaway.
      p
        | Thank you for joining us on an amazing journey. Please leave a review to help other people just like you.
      p
        | For more travel tips and guides, check out our latest articles on Goa.
